#BlogCards_Containers{
 background-color: #EBEBEB;
 height: 130px;
 margin-bottom: 10px;
 width: 100%;
 position: absolute;
}

#BlogCards_CardsContainer{
    display: grid;
    margin-left: 13%;
    width: 65.7%;
    height: auto;
    grid-template-columns: 830px 420px;
    justify-content: start;
}



#BlogCards_BigCards1stImage{
    border-radius: 1%;
    background-image: url('../../../assets/img/articulo_big_01.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 459px;
}
#BlogCards_BigCardsCategory{
    padding-top: 60px;
    font-weight: bolder;
    color: white;
    padding-left: 60px;
}
#BlogCards_BigCardsTitle{
    padding-left: 60px;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    padding-top: 200px;
    margin-bottom: 0;
}
#BlogCards_BigCardsDesc{
    margin-top: 3px;
    padding-left: 60px;
    color: white;
    font:19px Montserrat;
}
#BlogCards_BigCardsDateTime{
    padding-top: 5px;
    margin-top: 0;
    padding-right: 2px;
}
#BlogCards_BigCardsDate{
    padding-left: 60px;
    color: rgb(230, 229, 229);
}


#BlogCards_BigCards2ndImage{
    background-image: url('../../../assets/img/articulo_big_02.png');
    border-radius: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 41px;
    height: 459px;
}
#BlogCards_BigCardsCategory2{
    padding-top: 60px;
    font-weight: bolder;
    color: white;
    padding-left: 60px;
}
#BlogCards_BigCardsTitle2{
    padding-left: 60px;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    padding-top: 200px;
    margin-bottom: 0;
}
#BlogCards_BigCardsDesc2{
    margin-top: 3px;
    padding-left: 60px;
    color: white;
    font:19px Montserrat;
}
#BlogCards_BigCardsDateTime2{
    padding-top: 5px;
    margin-top: 0;
    padding-right: 2px;
}
#BlogCards_BigCardsDate2{
    padding-left: 60px;
    color: rgb(230, 229, 229);
}


#BlogCards_SmallCardsContainer{
    padding-left: 16px;
}

.BlogCards_CardsTitle{
    padding-top: 5px;
    font-weight: bolder;
}
.BlogCards_CardsPostDate{
    color: rgb(187, 187, 187);
   font-weight: bolder;
}

#BlogCards_Cards{
    margin-top: 15px;
    height: 322px;
}
.BlogCards_CardsMargin{
    margin-top: 20px;
    height: 322px;
}
#BlogCards_CardsImg1{
    background-image: url('../../../assets/img/articulo_small_01.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
}


#BlogCards_CardsImg2{
    background-image: url('../../../assets/img/articulo_small_02.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
}


#BlogCards_CardsImg3{
    background-image: url('../../../assets/img/articulo_small_03.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
}


@media only screen and (min-width: 1300px) and (max-width: 1450px){
    #BlogCards_CardsContainer{
        display: grid;
        margin-left: 13%;
        width: 60.7%;
        height: auto;
        grid-template-columns: 730px 370px;
        justify-content: start;
    }
    #BlogCards_BigCardsDesc{
        font:17px Montserrat;
    }
    #BlogCards_BigCardsCategory2{
        padding-top: 60px;
        font-weight: bolder;
        color: white;
        padding-left: 60px;
    }
    #BlogCards_BigCardsTitle2{
        padding-left: 60px;
        font-weight: bolder;
        font-size: 30px;
        color: white;
        padding-top: 200px;
        margin-bottom: 0;
    }
    #BlogCards_BigCardsDesc2{
        margin-top: 3px;
        padding-left: 60px;
        color: white;
        font:17px Montserrat;
    }
    #BlogCards_BigCardsDateTime2{
        padding-top: 5px;
        margin-top: 0;
        padding-right: 2px;
    }
    #BlogCards_BigCardsDate2{
        padding-left: 60px;
        color: rgb(230, 229, 229);
    }    


}

@media only screen and (min-width: 1000px) and (max-width: 1300px){
    #BlogCards_CardsContainer{
        display: grid;
        margin-left:5%;
        width: 80.7%;
        height: auto;
        grid-template-columns: 670px 355px;
        justify-content: start;
    }
    #BlogCards_BigCardsDesc{
        font:17px Montserrat;
    }
    #BlogCards_BigCardsCategory2{
        padding-top: 60px;
        font-weight: bolder;
        color: white;
        padding-left: 60px;
    }
    #BlogCards_BigCardsTitle2{
        padding-left: 60px;
        font-weight: bolder;
        font-size: 30px;
        color: white;
        padding-top: 200px;
        margin-bottom: 0;
    }
    #BlogCards_BigCardsDesc2{
        margin-top: 3px;
        padding-left: 60px;
        color: white;
        font:17px Montserrat;
    }
    #BlogCards_BigCardsDateTime2{
        padding-top: 5px;
        margin-top: 0;
        padding-right: 2px;
    }
    #BlogCards_BigCardsDate2{
        padding-left: 60px;
        color: rgb(230, 229, 229);
    }    
}




@media only screen and (max-width: 575px){
#BlogCards_CardsContainer{
    margin-left: 0;
}
    #BlogCards_SmallCardsContainer{
        display: none;
    }
    #BlogCards_CardsContainer{
        display: grid;
        width:100%;
        height: auto;
        grid-template-columns: 100%;
        justify-content: start;
    }
    #BlogCards_BigCardsDesc{
display: none;
    }
    #BlogCards_BigCardsDesc2{
        display: none;
    }
    #BlogCards_BigCards1stImage{
        height: 509px;
        background-position: center;
    }
    #BlogCards_BigCards2ndImage{
        height: 509px;
        background-position: center;
    }
    #BlogCards_BigCardsCategory{
        padding-left: 30px;
    }
    #BlogCards_BigCardsCategory2{
        padding-left: 30px;
    }

    #BlogCards_BigCardsTitle{
        padding-top: 280px;
        padding-left: 40px;
        font-size: 23px;
    }
    #BlogCards_BigCardsTitle2{
        padding-top: 280px;
        font-size: 23px;
        padding-left: 35px;
    }
    #BlogCards_BigCardsDate{
        padding-left: 35px;
    }
    #BlogCards_BigCardsDate2{
        padding-left: 35px;
    }

}

@media only screen and (min-width: 575px) and (max-width: 1000px){
    #BlogCards_SmallCardsContainer{
        display: none;
    }
    #BlogCards_CardsContainer{
        display: grid;
        margin-left:6%;
        width: 88.7%;
        height: auto;
        grid-template-columns: auto ;
        justify-content: start;
    }
}