#Navbar_ContainerFlex{
    display: flex;
    width: 100%;
    height: 80px;
    box-shadow: 0px 3px 6px #00000029;
    position: -webkit-sticky;
    position: sticky;
    z-index: 600;
    top: .1px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    margin-bottom: 0;
}

#NavbarListContent_ButtonMobile{
    background-color: white;
    display: none;
}

#Navbar_Opacity{
    position: absolute;
    left: 0;
    width: 60%;
    display: none;
    z-index: 400;
    background-color: rgba(14, 14, 14, 0.337);
    height: 680px;
}

#Navbar_ImageLink{
    position: relative;
    left: 13%;
    margin-top: 28px;
}

#NavbarListContent_MenuDespUl{
display: none;
}
#NavbarListContent_MenuDespButtonX{
    display: none;
}

#NavbarListContent_Ul{
    display: flex;
    list-style: none;
}

#NavBarListContent_UlContent{
    position: relative;
    left: 60%;
}
.NavbarListContent_LiLINK{
 text-decoration: none;
 color: rgb(186, 183, 183);
}

.NavbarListContent_LiLINK:hover{
    transition: .5s;
color: rgb(0, 0, 0);
}

.NavbarListContent_Li{
    margin-top: 10px;
    padding-left: 25px;
    font-size: 19px;
    font-weight: 600;
}

@media only screen and (max-width: 575px){
    #Navbar_ContainerFlex{
        position: relative;
        justify-content: space-around;
    }
    #Navbar_ImageLink{
        position: relative;
        left: 8%;
        margin-top: 28px;
    }
    #NavbarListContent_Ul li{
        display: none;
    }

    #NavBarListContent_UlContent{
        margin: 0;
        width: 0px;
        display: none;
    }

    #NavbarListContent_ButtonContainer{
        z-index: 404;
    }

    #NavbarListContent_ButtonMobile{
        margin-left: 75%;
        margin-top: 22px;
        display: block;
        border: 0;
    }

    #NavbarListContent_MenuDesp{
        top: 0;
        width: 100%;
        height: 680px;
        position: fixed;
        display: none;
        background-color: rgb(255, 255, 255);
    }

    #NavbarListContent_MenuDespButtonX{
        background: none;
        border: 0;
        display: block;
        margin-left: 40%;
        margin-top: 20px;
    }
    .NavbarListContent_MenuDespLiLink{
       text-decoration: none;
       font-weight: 600;
       color: black;
    }

    #NavbarListContent_MenuDespUl{
        display: block;
        width: 100px;
        margin-top: 5%;
        text-decoration: none;
        list-style: none;
        margin-left: 0
    }
    .NavbarListContent_MenuDespLi{
        padding-top: 10px;
    }
    #NavbarListContent_Icon{
        width: 25px;
        height: 25px;
    }
    #NavbarListContent_ButtonContainer{
        width: 50%;
        background-color: rgb(255, 255, 255);

    }

}
@media only screen and (min-width: 1000px) and (max-width: 1300px){
    #NavBarListContent_UlContent li{
        position: relative;
        left: 50%;
    }
    #NavBarListContent_UlContent {
        position: relative;
        left: 35%;
    }
}
@media only screen and (min-width: 575px) and (max-width: 1000px){
    #NavBarListContent_UlContent li{
        position: relative;
        left: 40%;
    }
    #NavBarListContent_UlContent {
        position: relative;
        left: 15%;
    }
}